/* Reset default list styles */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  
}

/* Logo */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Nav links layout */
.nav-links {
  display: flex;
  gap: 25px;
}

/* Links */
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover effect */
.nav-links a:hover {
  color: #38bdf8;
}

/* FORM LABELS */

.form-label {
  display: block;
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
  text-align: center;
}


/* INPUT FIELDS */

#username,
#password {
  width: 60%;
  max-width: 400px;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* BUTTONS */

.form-buttons {
  color: white;
  background-color: rgb(53, 53, 131);
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: 10px auto;
}

.form-buttons:hover {
  background-color: #c7b4b4;
}

#login-btn {
  background-color: rgb(53, 53, 131);
}


/* TABLET RESPONSIVE */

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  #username,
  #password {
    width: 80%;
  }

}


/* MOBILE RESPONSIVE */

@media (max-width: 480px) {

  .logo {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 14px;
  }

  #username,
  #password {
    width: 90%;
  }

  .form-buttons {
    width: 90%;
    padding: 12px;
  }

}